<%= stylesheet_link_tag "treatment_policy/faq", :media => "all" %>
<%# 画面上部イメージ %>
<div class="mod-catHead01">
  <h1 class="mod-catHead01-h">
    こんな症状にお悩みなら
  </h1>
</div>
<%# パンくずリスト %>
<nav class="mod-breadcrumb">
  <ol class="mod-breadcrumb-links lapctbOnly">
    <li><%= link_to "まり鍼灸院", root_path, data: {"turbolinks" => false} %></li>
    <li><%= link_to "治療方針", treatment_policy_path, data: {"turbolinks" => false} %></li>
    <li>こんな症状にお悩みなら</li>
  </ol>
</nav>
<%# FAQリスト %>
<section class="mod-sec01">
  <div class="wrapin wrapin-sp">
    <div class="cat">
      <%# 急性腰痛（ぎっくり腰） %>
      <section class="treatment_policy-faq-sec" id="faq01">
        <div class="treatment_policy-faq-q">
          <div class="treatment_policy-faq-q-col">
            <p class="treatment_policy-faq-q-h">
              急性腰痛（ぎっくり腰）
            </p>
          </div>
          <div class="treatment_policy-faq-q-btn" data-name="＋"></div>
        </div>
        <div class="treatment_policy-faq-q-a">
          <div class="treatment_policy-faq-q-a-claer">
            <div class="treatment_policy-faq-q-a-cat u-bd-c1">
              症状
            </div>
            <div class="treatment_policy-faq-q-a-txts">
              <p>
                重いものを持ったり、くしゃみなどふとした拍子になってしまうぎっくり腰。
                この痛みの主な原因は腰の筋肉のけいれんです。
                一番多いのが大腰筋という筋肉がけいれんしておこるものです。
                その他に起立筋という筋肉が原因の時もあります。<br>
                <br>
                また、ぎっくり腰と似た症状として、尿管結石や腰椎骨折があります。
                ぎっくり腰との違いは以下のですが判断が難しい場合は当院へご相談ください。<br>
                <br>
                <span class="wei-bold">[尿管結石]</span><br>
                ・腰をまっす伸ばすことはできる<br>
                ・身体を動かした瞬間に痛みが出るがじっとしていると比較的平気<br>
                ・背中の下のほうを叩くと痛む<br>
                <br>
                <span class="wei-bold">[腰椎骨折]</span><br>
                ・じっとしていても痛く、起き上がるのも困難<br>
                ・転倒したもしくは尻もちをついたというきっかけがある<br>
                ・腰椎に叩打痛がある<br>
                ・高齢者<br>
                <br>
                上記のような症状がある場合、尿管結石は泌尿器科へ、腰椎骨折は整形外科へお問い合わせください
              </p>
            </div>
          </div>
          <div class="treatment_policy-faq-q-a-claer">
            <div class="treatment_policy-faq-q-a-cat u-bd-c1">
              治療
            </div>
            <div class="treatment_policy-faq-q-a-txts">
              <p>
                痛みの部位にも異なりますが、
                主にけいれんを起こしている大腰筋（腰の深いところの筋肉）に対して
                鍼を打ち筋肉のけいれんや痛みの悪循環を取り除きます。<br>
                <br>
                ぎっくり腰を年に何度も繰り返している人は、
                慢性的に腰の筋肉が硬くなっているため、
                ちょっとしたきっかけでぎっくり腰を起こしてしまいます。
                そのためぎっくり腰の症状が治まった後も腰痛治療を継続して行うことをお勧めします。<br>
              </p>
              <div class="treatment_policy-faq-q-a-closeBtn">
                <p class="mod-btn01 u-bd-c1 u-c-c1">
                  閉じる
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%# 慢性腰痛 %>
      <section class="treatment_policy-faq-sec" id="faq02">
        <div class="treatment_policy-faq-q">
          <div class="treatment_policy-faq-q-col">
            <p class="treatment_policy-faq-q-h">
              慢性腰痛
            </p>
          </div>
          <div class="treatment_policy-faq-q-btn" data-name="＋"></div>
        </div>
        <div class="treatment_policy-faq-q-a">
          <div class="treatment_policy-faq-q-a-claer">
            <div class="treatment_policy-faq-q-a-cat u-bd-c1">
              症状
            </div>
            <div class="treatment_policy-faq-q-a-txts">
              <p>
                腰痛と一口に言っても人によって症状は少しずつ異なります。
                そのため問診でどのような時に腰が痛いか、どのような姿勢の時に痛みがあるのかお聞きします。
                慢性的に痛みのある方は痛みの悪循環が起こっていると考えられます。<br>
                <br>
                <span class="wei-bold">痛みの悪循環</span><br>
                <br>
                ・筋肉の使いすぎなどにより筋肉が疲労し硬くなる<br>
                ・硬くなった筋肉により血管・神経が圧迫され血流障害が起こり酸素や栄養素が行き届かず発痛物質が生まれ、溜まる<br>
                ・痛みやコリが発生<br>
                ・痛みやコリにより知覚神経が興奮しその結果交感神経も興奮し血管が収縮する<br>
                ・血流が悪くなる<br>
                <br>
                ※鍼治療が有効な腰痛は筋肉が原因で起こっているものです。
                腰椎椎間板ヘルニア・腰椎すべり症・腰椎分離症・腫瘍など筋肉が原因でないものは効果がありません。
              </p>
            </div>
          </div>
          <div class="treatment_policy-faq-q-a-claer">
            <div class="treatment_policy-faq-q-a-cat u-bd-c1">
              治療
            </div>
            <div class="treatment_policy-faq-q-a-txts">
              <p>
                鍼治療をすることで筋肉のけいれんや痛みの悪循環を取り除きます。<br>
                <br>
                急性腰痛（ぎっくり腰）の場合、治療のポイントなるのは、けいれんを起こしている大腰筋です。<br>
                <br>
                ぎっくり腰を年に何度も繰り返している人は、
                慢性的に腰の筋肉が硬くなっているため、ちょっとしたきっかけでぎっくり腰を起こしてしまいます。
                そのためぎっくり腰の症状が治まった後も腰痛治療を継続して行うことをお勧めします。<br>
                <br>
                <br>
                慢性腰痛の場合は、痛みの出る姿勢によって治療のポイントとなってくる筋肉が変わってきます。<br>
                <br>
                ●<span class="wei-bold">大腰筋（腰の深いとことの筋肉）</span><br>
                腰をそらす動作で痛い・仰向けで寝ていられない・座った状態から立ち上がるとしばらく痛む<br>
                ●<span class="wei-bold">腰背部脊柱起立筋</span><br>
                前かがみになると痛い<br>
                ●<span class="wei-bold">中殿筋（お尻の筋肉）</span><br>
                椅子に座っていると痛い<br>
                ●<span class="wei-bold">腰方形筋（腰の外側にある筋肉）</span><br>
                腰をひねったり左右に曲げると痛い・椅子から立ち上がったり座ったりする瞬間に痛む<br>
                <br>
                <br>
                ※患者様の自覚症状だけでなく、触診による筋肉の硬さや圧痛のある場所も治療の場所になります。
              </p>
              <div class="treatment_policy-faq-q-a-closeBtn">
                <p class="mod-btn01 u-bd-c1 u-c-c1">
                  閉じる
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%# 坐骨神経痛 %>
      <section class="treatment_policy-faq-sec" id="faq03">
        <div class="treatment_policy-faq-q">
          <div class="treatment_policy-faq-q-col">
            <p class="treatment_policy-faq-q-h">
              坐骨神経痛
            </p>
          </div>
          <div class="treatment_policy-faq-q-btn" data-name="＋"></div>
        </div>
        <div class="treatment_policy-faq-q-a">
          <div class="treatment_policy-faq-q-a-claer">
            <div class="treatment_policy-faq-q-a-cat u-bd-c1">
              症状
            </div>
            <div class="treatment_policy-faq-q-a-txts">
              <p>
                坐骨神経痛というのは、坐骨神経という神経の走行上に痛みが出ている症状をいいます。
                腰椎と仙骨から出ている神経が坐骨神経となりお尻、大腿後面、膝裏、下腿後面、下腿外側、足部を走行します。
                （膝から下は総腓骨神経と脛骨神経に名前が変わります）
                この神経が硬くなった筋肉に圧迫されて症状が出ている場合、鍼の適応となります。<br>
                <br>
                <span class="wei-bold">鍼の効果のある坐骨神経痛</span><br>
                <br>
                ・脚の一部だけでなく脚全体が痛む<br>
                ・夜寝ているときに痛みが増す・痛みで目が覚める<br>
                ・レントゲンを撮ると腰椎の間が狭くなっているが、MRI、CTで異常がない<br>
                ・長時間椅子に座った後、立ち上がりにくさを感じる<br>
                <br>
                <span class="wei-bold">鍼の効かない坐骨神経痛</span><br>
                <br>
                ・腰椎椎間板ヘルニア<br>
                ・脊椎間狭窄症<br>
                ・腰椎分離症<br>
                ・腰椎すべり症<br>
                ・腫瘍によるもの<br>
                ・頸髄症　　　　　　　　　　など
              </p>
            </div>
          </div>
          <div class="treatment_policy-faq-q-a-claer">
            <div class="treatment_policy-faq-q-a-cat u-bd-c1">
              治療
            </div>
            <div class="treatment_policy-faq-q-a-txts">
              <p>
                鍼が有効な坐骨神経痛は、神経が筋肉に圧迫されていることで起こっているため、鍼治療で筋肉を緩め圧迫を取り除きます。
                治療部位は腰痛治療（特に大腰筋）に加えて、臀部や下股の痛みの出ている部分です。
              </p>
              <div class="treatment_policy-faq-q-a-closeBtn">
                <p class="mod-btn01 u-bd-c1 u-c-c1">
                  閉じる
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%# 緊張性頭痛 %>
      <section class="treatment_policy-faq-sec" id="faq04">
        <div class="treatment_policy-faq-q">
          <div class="treatment_policy-faq-q-col">
            <p class="treatment_policy-faq-q-h">
              緊張性頭痛
            </p>
          </div>
          <div class="treatment_policy-faq-q-btn" data-name="＋"></div>
        </div>
        <div class="treatment_policy-faq-q-a">
          <div class="treatment_policy-faq-q-a-claer">
            <div class="treatment_policy-faq-q-a-cat u-bd-c1">
              症状
            </div>
            <div class="treatment_policy-faq-q-a-txts">
              <p>
                「肩こりからくる頭痛」といわれることが多いです。
                使いすぎや、不良姿勢などで筋肉が持続的に緊張することで血管や神経が圧迫され、
                血流が悪くなり老廃物がたまり痛みが出ます。
                ズーンとした重い痛み、締め付けられるような痛み、とよく表現されます。
              </p>
            </div>
          </div>
          <div class="treatment_policy-faq-q-a-claer">
            <div class="treatment_policy-faq-q-a-cat u-bd-c1">
              治療
            </div>
            <div class="treatment_policy-faq-q-a-txts">
              <p>
                鍼治療が有効な頭痛は「緊張性頭痛」と「片頭痛」と分類されている、一次性の頭痛です。
                ちなみに二次性の頭痛は脳梗塞やくも膜下出血などで起こる頭痛です。
                当院では頭痛の治療では頚への治療をメインとして行います（特に頭と頚の境目がポイント）。
                そして、症状に合わせて、肩の筋肉、頭部にある筋肉（側頭筋や後頭筋）や頭皮、顎関節に関係する筋肉にも鍼を行います。
                <span class="wei-bold">重症の方ですと、鍼を打っている最中や、治療後に頭痛が出ることがあります。</span>
                これは硬くなった筋肉が一度の治療では緩みきらなかった場合に起こります。
                治療を重ねればこれらは起こりにくくなり、また普段の頭痛も起こりにくくなります。
              </p>
              <div class="treatment_policy-faq-q-a-closeBtn">
                <p class="mod-btn01 u-bd-c1 u-c-c1">
                  閉じる
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%# 片頭痛 %>
      <section class="treatment_policy-faq-sec" id="faq05">
        <div class="treatment_policy-faq-q">
          <div class="treatment_policy-faq-q-col">
            <p class="treatment_policy-faq-q-h">
              片頭痛
            </p>
          </div>
          <div class="treatment_policy-faq-q-btn" data-name="＋"></div>
        </div>
        <div class="treatment_policy-faq-q-a">
          <div class="treatment_policy-faq-q-a-claer">
            <div class="treatment_policy-faq-q-a-cat u-bd-c1">
              症状
            </div>
            <div class="treatment_policy-faq-q-a-txts">
              <p>
                何かのきっかけで頭の血管が拡張し、血管の周りの神経が刺激されることで痛みを感じます。
                ズキズキと脈打つような痛み、と表現されることが多いです。
                頭痛が起こると匂いや音に敏感になったり、吐き気を伴うこともあります。
                片頭痛と緊張性頭痛を両方待っている方もかなり多く、片頭痛の方の頚を触ってみると、
                緊張性頭痛の方よりもかなり筋肉が緊張していることも多々あります。
                頚の筋肉の緊張がベースにあることが原因で収縮した血管が何らかの原因で拡張することで起こっていると考えられます。
              </p>
            </div>
          </div>
          <div class="treatment_policy-faq-q-a-claer">
            <div class="treatment_policy-faq-q-a-cat u-bd-c1">
              治療
            </div>
            <div class="treatment_policy-faq-q-a-txts">
              <p>
                鍼治療が有効な頭痛は「緊張性頭痛」と「片頭痛」と分類されている、一次性の頭痛です。
                ちなみに二次性の頭痛は脳梗塞やくも膜下出血などで起こる頭痛です。
                当院では頭痛の治療では頚への治療をメインとして行います（特に頭と頚の境目がポイント）。
                そして、症状に合わせて、肩の筋肉、頭部にある筋肉（側頭筋や後頭筋）や頭皮、顎関節に関係する筋肉にも鍼を行います。
                <span class="wei-bold">重症の方ですと、鍼を打っている最中や、治療後に頭痛が出ることがあります。</span>
                これは硬くなった筋肉が一度の治療では緩みきらなかった場合に起こります。
                治療を重ねればこれらは起こりにくくなり、また普段の頭痛も起こりにくくなります。
              </p>
              <div class="treatment_policy-faq-q-a-closeBtn">
                <p class="mod-btn01 u-bd-c1 u-c-c1">
                  閉じる
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%# 首や肩のコリ、痛み、寝違い %>
      <section class="treatment_policy-faq-sec" id="faq06">
        <div class="treatment_policy-faq-q">
          <div class="treatment_policy-faq-q-col">
            <p class="treatment_policy-faq-q-h">
              首や肩のコリ、痛み、寝違い
            </p>
          </div>
          <div class="treatment_policy-faq-q-btn" data-name="＋"></div>
        </div>
        <div class="treatment_policy-faq-q-a">
          <div class="treatment_policy-faq-q-a-claer">
            <div class="treatment_policy-faq-q-a-cat u-bd-c1">
              症状
            </div>
            <div class="treatment_policy-faq-q-a-txts">
              <p>
                頚や肩にコリやハリ、こわばり、頭重感、痛みが出ているもの。
                コリや痛みの悪循環が起こっているため、なかなか良くならない。
                寝違いは筋肉のけいれんが起こり、伸ばせない状態になっているもの。<br>
                <br>
                <span class="wei-bold">悪循環を簡単にまとめると・・・</span><br>
                <br>
                ・筋肉の使いすぎなどにより筋肉が疲労し硬くなる<br>
                ・硬くなった筋肉により血管・神経が圧迫され血流障害が起こり酸素や栄養が行き届かず発痛物質が生まれ、溜まる<br>
                ・痛みやコリが発生<br>
                ・痛みやコリにより知覚神経が興奮しその結果交感神経も興奮し血管が収縮する<br>
                ・血流が悪くなる
              </p>
            </div>
          </div>
          <div class="treatment_policy-faq-q-a-claer">
            <div class="treatment_policy-faq-q-a-cat u-bd-c1">
              治療
            </div>
            <div class="treatment_policy-faq-q-a-txts">
              <p>
                治療のポイントとなるのは主に頚です。
                それに加えて肩や背中、肩甲骨の筋肉に鍼を打ちます。
                肩こりでも頚なの？と思われるかもしれませんが、
                頚から肩にかけて走行している筋肉もあり、また肩や腕に行く神経も顎から出ており、
                さらに神経や血管が頚の筋肉の間を通っていたりします。
                ですから、頚の筋肉を緩めてあげることはとても大切です。<br>
                <br>
                肩こり・頚こりを悪化させないためには普段の生活の中でも気を付けることがいくつかあります。
                それは頚に負担のかかる姿勢をできるだけ避けるというものです。<br>
                <br>
                ・座っているときに携帯やスマートフォンを使う場合は、目の高さまで持ってきて操作する。<br>
                ・うつ伏せで頭を上げた状態で本を読んだり携帯を使うのは避ける<br>
                ・パソコンはデスクトップの方がいいですが、ノートパソコンの場合はパソコンの下に本を置いて、
                画面の高さを高くするか、椅子を低くして目の高さに画面がくるようにする。
                また肘などが浮かないよう工夫できるとなおよい<br>
                ・書類を見ながらパソコン作業をする人は書類立てを使い、目線や頭を下げる回数を減らしましょう<br>
                ・お仕事や家事などで下を向く時間が長い場合は、時々頭を上げて頚を休ませましょう<br>
                <br>
                ここで紹介したものはすべて頭を下に下げる動作を回避したものです。
                なぜこの姿勢が悪いかというと、重さが約６キログラムもある頭を支えるために、
                細い頚の筋肉が常に収縮し頭が前に落ちないように頑張る姿勢だからです。
                どうしても仕事や生活習慣で頚に負担がかかりやすい方は、
                悪化を防ぐために定期的な治療が必要な場合もあります。
              </p>
              <div class="treatment_policy-faq-q-a-closeBtn">
                <p class="mod-btn01 u-bd-c1 u-c-c1">
                  閉じる
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%# 四十肩、五十肩（肩関節周囲炎） %>
      <section class="treatment_policy-faq-sec" id="faq07">
        <div class="treatment_policy-faq-q">
          <div class="treatment_policy-faq-q-col">
            <p class="treatment_policy-faq-q-h">
              四十肩、五十肩（肩関節周囲炎）
            </p>
          </div>
          <div class="treatment_policy-faq-q-btn" data-name="＋"></div>
        </div>
        <div class="treatment_policy-faq-q-a">
          <div class="treatment_policy-faq-q-a-claer">
            <div class="treatment_policy-faq-q-a-cat u-bd-c1">
              症状
            </div>
            <div class="treatment_policy-faq-q-a-txts">
              <p>
                加齢で肩周囲の腱が硬くなるなどの変化が起こることにより、
                肩回りの組織に炎症が起こり痛みが発生するといわれていますが、
                はっきりとした原因はわかっていません。
                痛みにより、腕を上げることができない、重い買い物袋を持つとジーンと痛む、
                夜寝ているときに痛みで目が覚める、着替えが大変、シートベルトをつかむのに不便など日常生活に支障が出ます。
                また、四十肩・五十肩は別名「凍結肩」ともいわれ、痛みがなくなった後も腕や肩の動かしにくさが残ることもあります。
                これは痛みがあるときに腕や肩が動かせなかったため、筋肉が硬くなったり萎縮したり、関節周辺の環境が悪くなってしまったために起こります。
              </p>
            </div>
          </div>
          <div class="treatment_policy-faq-q-a-claer">
            <div class="treatment_policy-faq-q-a-cat u-bd-c1">
              治療
            </div>
            <div class="treatment_policy-faq-q-a-txts">
              <p>
                早期に痛みをとり、関節周囲の環境を悪くしないためにも、鍼治療を行います。
                治療する場所は頚と可動域が制限されている腕や肩の動きに関連する筋肉です。
                夜間痛は比較的早くに痛みが取れますが、腕や肩の動かしにくさなどは時間がかかる場合もあります。
                またすでに痛みがなく、可動域制限のみ残っている場合は、効果が表れにくいこともあります。
              </p>
              <div class="treatment_policy-faq-q-a-closeBtn">
                <p class="mod-btn01 u-bd-c1 u-c-c1">
                  閉じる
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%# 股関節、お尻の痛み %>
      <section class="treatment_policy-faq-sec" id="faq08">
        <div class="treatment_policy-faq-q">
          <div class="treatment_policy-faq-q-col">
            <p class="treatment_policy-faq-q-h">
              股関節、お尻の痛み
            </p>
          </div>
          <div class="treatment_policy-faq-q-btn" data-name="＋"></div>
        </div>
        <div class="treatment_policy-faq-q-a">
          <div class="treatment_policy-faq-q-a-claer">
            <div class="treatment_policy-faq-q-a-cat u-bd-c1">
              症状
            </div>
            <div class="treatment_policy-faq-q-a-txts">
              <p>
                ここで取り上げるのは、小殿筋というお尻に筋肉が原因で起こる痛みです。
                あぐらがかけなかったり、立ったまま靴下がはけない、椅子に腰かけられない、歩いていると股関節に痛みが出るなどの症状が出ます。<br>
                <br>
                重症な方や長期間症状が出ている方だと、お尻の筋肉が萎縮するためお尻の丸みがなくなってしまったり、
                逆に脂肪がついて筋肉は萎縮しているのにお尻は大きく見えたりします。
              </p>
            </div>
          </div>
          <div class="treatment_policy-faq-q-a-claer">
            <div class="treatment_policy-faq-q-a-cat u-bd-c1">
              治療
            </div>
            <div class="treatment_policy-faq-q-a-txts">
              <p>
                原因となっている小殿筋に鍼を打ちます。
                小殿筋は大殿筋、中殿筋というお尻の筋肉の下にあるため、短い鍼では届きません。
                また、小殿筋は骨盤の骨と中殿筋に挟まれているため、圧迫を受け硬くなりやすいため、症状の出ている小殿筋は筋肉が硬くなかなか入りません。
                よって当院のようにある程度の太さや長さのある鍼を使用している治療院でないと効果を出すのが難しい部位といえます。<br>
                <br>
                股関節の治療は時間がかかることが多く、長い方だと１年ほどかかることもあります。
              </p>
              <div class="treatment_policy-faq-q-a-closeBtn">
                <p class="mod-btn01 u-bd-c1 u-c-c1">
                  閉じる
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%# 大腿神経痛 %>
      <section class="treatment_policy-faq-sec" id="faq09">
        <div class="treatment_policy-faq-q">
          <div class="treatment_policy-faq-q-col">
            <p class="treatment_policy-faq-q-h">
              大腿神経痛
            </p>
          </div>
          <div class="treatment_policy-faq-q-btn" data-name="＋"></div>
        </div>
        <div class="treatment_policy-faq-q-a">
          <div class="treatment_policy-faq-q-a-claer">
            <div class="treatment_policy-faq-q-a-cat u-bd-c1">
              症状
            </div>
            <div class="treatment_policy-faq-q-a-txts">
              <p>
                鼡径部から太ももの前面が痛んだりしびれたりします。
                腸骨筋が硬くなり、大腿神経が圧迫されることで起こる場合鍼が有効です。
              </p>
            </div>
          </div>
          <div class="treatment_policy-faq-q-a-claer">
            <div class="treatment_policy-faq-q-a-cat u-bd-c1">
              治療
            </div>
            <div class="treatment_policy-faq-q-a-txts">
              <p>
                腸骨筋に鍼を打ちます。これにより大腿神経の圧迫を取り除くことができます。
                腸骨筋は骨盤の内側についている筋肉です。骨盤の内側についているため体表から手で触れることが出来るのはほんの一部です。
                そこで鍼を使い筋肉を緩めます。<br>
                <br>
                腸骨筋のほかに、太ももの前面にある中間広筋にも鍼を打ちます。
                これは体表から触れる大腿直筋の下にある筋肉です。特に硬くなりやすい大腿骨付近を狙って打ちます。
              </p>
              <div class="treatment_policy-faq-q-a-closeBtn">
                <p class="mod-btn01 u-bd-c1 u-c-c1">
                  閉じる
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%# 膝の痛み %>
      <section class="treatment_policy-faq-sec" id="faq10">
        <div class="treatment_policy-faq-q">
          <div class="treatment_policy-faq-q-col">
            <p class="treatment_policy-faq-q-h">
              膝の痛み
            </p>
          </div>
          <div class="treatment_policy-faq-q-btn" data-name="＋"></div>
        </div>
        <div class="treatment_policy-faq-q-a">
          <div class="treatment_policy-faq-q-a-claer">
            <div class="treatment_policy-faq-q-a-cat u-bd-c1">
              症状
            </div>
            <div class="treatment_policy-faq-q-a-txts">
              <p>
                当院の鍼が効果かある膝の痛みは、筋肉が原因で起こっているものです。
                軟骨や関節の変形、靭帯や半月板の損傷など、整形外科で異常が見つかったものには効果がありません。<br>
                <br>
                膝関節の周りにはたくさんの筋肉がついています。
                その筋肉が硬くなり収縮すると、骨のとの付着部が引っ張られ痛みが出たり、
                筋肉が硬くなり血行が悪くなったため痛みが出たりします。
                また、膝のお皿の下には膝蓋下脂肪体というものがあり、そこで炎症で膝が痛い場合や、坐骨神経痛で膝が痛い場合もあります。
              </p>
            </div>
          </div>
          <div class="treatment_policy-faq-q-a-claer">
            <div class="treatment_policy-faq-q-a-cat u-bd-c1">
              治療
            </div>
            <div class="treatment_policy-faq-q-a-txts">
              <p>
                膝の痛みの原因になっている筋肉や膝蓋下脂肪体に鍼を打ちます。坐骨神経痛が原因の場合は腰の治療を行います。<br>
                <br>
                <span class="wei-bold">原因になる筋肉には</span><br>
                <br>
                ・大腿四頭筋（大腿直筋・内側広筋・外側広筋・中間広筋）<br>
                ・大腿二頭筋<br>
                ・半腱半膜様筋<br>
                ・膝窩筋<br>
                ・薄筋<br>
                ・大腰筋（坐骨神経痛が原因の場合）<br>
                <br>
                などがあります。<br>
                <br>
                膝の治療では患者様ご本人は膝の前側が痛いと感じているのに、原因の場所は膝の後ろ側だった、なんてこともあります。
              </p>
              <div class="treatment_policy-faq-q-a-closeBtn">
                <p class="mod-btn01 u-bd-c1 u-c-c1">
                  閉じる
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%# テニス肘、ゴルフ肘 %>
      <section class="treatment_policy-faq-sec" id="faq11">
        <div class="treatment_policy-faq-q">
          <div class="treatment_policy-faq-q-col">
            <p class="treatment_policy-faq-q-h">
              テニス肘、ゴルフ肘
            </p>
          </div>
          <div class="treatment_policy-faq-q-btn" data-name="＋"></div>
        </div>
        <div class="treatment_policy-faq-q-a">
          <div class="treatment_policy-faq-q-a-claer">
            <div class="treatment_policy-faq-q-a-cat u-bd-c1">
              症状
            </div>
            <div class="treatment_policy-faq-q-a-txts">
              <p>
                肘から先の腕の筋肉が硬くなることで、肘の内側や外側が痛くなります。
                テニスやゴルフをしている方に多いため、テニス肘・ゴルフ肘とよく言われますが、
                テニスやゴルフをしていなくてももちろんなることがあります。
              </p>
            </div>
          </div>
          <div class="treatment_policy-faq-q-a-claer">
            <div class="treatment_policy-faq-q-a-cat u-bd-c1">
              治療
            </div>
            <div class="treatment_policy-faq-q-a-txts">
              <p>
                鍼は痛みのあるところ（肘や内側や外側）から手首の近くまでの前腕の筋肉に打ちます。
                しかし、局所だけでは痛みが取れなかったり、取れてもすぐに元に戻ってしまうことも多いため、頚の治療を加える場合もあります。<br>
                <br>
                ※テニスやゴルフをしている方は、治療後２日は練習をお休みしてください。
                また、少しラケットなどを握る力が一時的に入りにくくなることがあるため、試合の前は治療を避けてください。
              </p>
              <div class="treatment_policy-faq-q-a-closeBtn">
                <p class="mod-btn01 u-bd-c1 u-c-c1">
                  閉じる
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
<input type="hidden" id="faqId" name="hidden_faqId" value=<%= @faqID %>>
<%= javascript_include_tag 'treatment_policy/treatment_policy', 'data-turbolinks-track': 'reload' %>
