<%= stylesheet_link_tag "treatment_policy/lifestyle", :media => "all" %>
<%# 画面上部イメージ %>
<div class="mod-catHead01">
  <h1 class="mod-catHead01-h">
    ライフスタイルに合わせた治療方針
  </h1>
</div>
<%# パンくずリスト %>
<nav class="mod-breadcrumb">
  <ol class="mod-breadcrumb-links lapctbOnly">
    <li><%= link_to "まり鍼灸院", root_path, data: {"turbolinks" => false} %></li>
    <li><%= link_to "治療方針", treatment_policy_path, data: {"turbolinks" => false} %></li>
    <li>ライフスタイルに合わせた治療方針</li>
  </ol>
</nav>
<%# ライフスタイルに合わせた治療方針リスト %>
<section class="mod-sec01">
  <div class="wrapin wrapin-sp">
    <div class="cat">
      <%# 社会人の方へ %>
      <section class="treatment_policy-lifestyle-sec" id="lifestyle01">
        <div class="treatment_policy-lifestyle-q">
          <div class="treatment_policy-lifestyle-q-col">
            <p class="treatment_policy-lifestyle-q-h">
              社会人の方へ
            </p>
          </div>
          <div class="treatment_policy-lifestyle-q-btn" data-name="＋"></div>
        </div>
        <div class="treatment_policy-lifestyle-q-a">
          <div class="treatment_policy-lifestyle-q-a-claer">
            <div class="treatment_policy-lifestyle-q-a-cat u-bd-c1">
              方針
            </div>
            <div class="treatment_policy-lifestyle-q-a-txts">
              <p>
                ● 心身ともにリラックス<br>
                過労やストレスにより乱れた自律神経のバランスを調整し、心と体にリラックス作用を与えます。<br>
                なんとなく体調がすぐれない、という方もお試しください。<br>
                <br>
                ● こんな方におすすめ<br>
                ・パソコン仕事などの眼精疲労　・片頭痛　・うつ病　・生活習慣病<br>
                <br>
                ● 生活習慣病の改善へ<br>
                鍼灸マッサージだけでなく、毎日の食生活にかかせない食生活の指導とそれを補うサプリメントで生活習慣病の予防や改善に効果的です。<br>
                <br>
              </p>
              <div class="treatment_policy-lifestyle-q-a-closeBtn">
                <p class="mod-btn01 u-bd-c1 u-c-c1">
                  閉じる
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%# 中高年の方へ %>
      <section class="treatment_policy-lifestyle-sec" id="lifestyle01">
        <div class="treatment_policy-lifestyle-q">
          <div class="treatment_policy-lifestyle-q-col">
            <p class="treatment_policy-lifestyle-q-h">
              中高年の方へ
            </p>
          </div>
          <div class="treatment_policy-lifestyle-q-btn" data-name="＋"></div>
        </div>
        <div class="treatment_policy-lifestyle-q-a">
          <div class="treatment_policy-lifestyle-q-a-claer">
            <div class="treatment_policy-lifestyle-q-a-cat u-bd-c1">
              方針
            </div>
            <div class="treatment_policy-lifestyle-q-a-txts">
              <p>
                ● 健康維持、リハビリに最適<br>
                年齢とともに感じる関節の痛みや神経痛等、不快な症状の緩和のほか、
                各種障害に対するリハビリテーションとして、健康づくりのお手伝いをいたします。<br>
                <br>
                ● こんな方におすすめ<br>
                ・体調のすぐれない方　・更年期障害　・線維筋痛症<br>
                はり・きゅう・マッサージで改善へ<br>
                <br>
              </p>
              <div class="treatment_policy-lifestyle-q-a-closeBtn">
                <p class="mod-btn01 u-bd-c1 u-c-c1">
                  閉じる
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%# 男性の方へ %>
      <section class="treatment_policy-lifestyle-sec" id="lifestyle01">
        <div class="treatment_policy-lifestyle-q">
          <div class="treatment_policy-lifestyle-q-col">
            <p class="treatment_policy-lifestyle-q-h">
              男性の方へ
            </p>
          </div>
          <div class="treatment_policy-lifestyle-q-btn" data-name="＋"></div>
        </div>
        <div class="treatment_policy-lifestyle-q-a">
          <div class="treatment_policy-lifestyle-q-a-claer">
            <div class="treatment_policy-lifestyle-q-a-cat u-bd-c1">
              方針
            </div>
            <div class="treatment_policy-lifestyle-q-a-txts">
              <p>
                ● こんな方におすすめ<br>
                ・メタボリック　・お仕事の疲れ<br>
                <br>
                お仕事を頑張っているお父さん、お疲れの方の心と体のケアとリフレッシュに最適です。<br>
                <br>
              </p>
              <div class="treatment_policy-lifestyle-q-a-closeBtn">
                <p class="mod-btn01 u-bd-c1 u-c-c1">
                  閉じる
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%# 女性の方へ %>
      <section class="treatment_policy-lifestyle-sec" id="lifestyle01">
        <div class="treatment_policy-lifestyle-q">
          <div class="treatment_policy-lifestyle-q-col">
            <p class="treatment_policy-lifestyle-q-h">
              女性の方へ
            </p>
          </div>
          <div class="treatment_policy-lifestyle-q-btn" data-name="＋"></div>
        </div>
        <div class="treatment_policy-lifestyle-q-a">
          <div class="treatment_policy-lifestyle-q-a-claer">
            <div class="treatment_policy-lifestyle-q-a-cat u-bd-c1">
              方針
            </div>
            <div class="treatment_policy-lifestyle-q-a-txts">
              <p>
                ● こんな方におすすめ<br>
                ・更年期障害　・生理痛　・冷え症　・線維筋痛症<br>
                ・生活習慣病（高血圧、糖尿病など）<br>
                ・不妊、逆子　・メニエール　・自律神経<br>
                <br>
                鍼灸により血流循環、気の流れ、自律神経のバランス、体質改善、
                免疫力・自然治癒力を高める作用がありますので、女性特有の症状にも効果的です。<br>
                <br>
                ● 妊婦さんや産後のお母さんへ<br>
                産前産後の健康管理、流産、逆子の予防、母子ともに健康でいるための手助けにはり・灸は最適です。
                また産後の体力回復にも最適です。なかなか子宝に恵まれない、不妊でお悩みの方もご相談下さい。<br>
                <br>
              </p>
              <div class="treatment_policy-lifestyle-q-a-closeBtn">
                <p class="mod-btn01 u-bd-c1 u-c-c1">
                  閉じる
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%# 小、中、高生へ %>
      <section class="treatment_policy-lifestyle-sec" id="lifestyle01">
        <div class="treatment_policy-lifestyle-q">
          <div class="treatment_policy-lifestyle-q-col">
            <p class="treatment_policy-lifestyle-q-h">
              小、中、高生へ
            </p>
          </div>
          <div class="treatment_policy-lifestyle-q-btn" data-name="＋"></div>
        </div>
        <div class="treatment_policy-lifestyle-q-a">
          <div class="treatment_policy-lifestyle-q-a-claer">
            <div class="treatment_policy-lifestyle-q-a-cat u-bd-c1">
              方針
            </div>
            <div class="treatment_policy-lifestyle-q-a-txts">
              <p>
                ● 集中力・記憶力のアップへ<br>
                小・中・高生または受験生の方で、勉強しても思うように成果が上がらない方、勉強でお悩みの方におすすめです。
                はり・きゅうにより集中力や記憶力のアップに効果があります。<br>
                <br>
              </p>
              <div class="treatment_policy-lifestyle-q-a-closeBtn">
                <p class="mod-btn01 u-bd-c1 u-c-c1">
                  閉じる
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%# お子様へ %>
      <section class="treatment_policy-lifestyle-sec" id="lifestyle01">
        <div class="treatment_policy-lifestyle-q">
          <div class="treatment_policy-lifestyle-q-col">
            <p class="treatment_policy-lifestyle-q-h">
              お子様へ
            </p>
          </div>
          <div class="treatment_policy-lifestyle-q-btn" data-name="＋"></div>
        </div>
        <div class="treatment_policy-lifestyle-q-a">
          <div class="treatment_policy-lifestyle-q-a-claer">
            <div class="treatment_policy-lifestyle-q-a-cat u-bd-c1">
              方針
            </div>
            <div class="treatment_policy-lifestyle-q-a-txts">
              <p>
                ● 小さなお子様でも安心して受けられる小児はり治療<br>
                子供用の刺さないはりで皮膚を撫でたりツボを刺激し、子供が本来持っている治癒力を高めます。
                夜鳴き、かんの虫等、お子様のことでお悩みの方のご相談にお答えします。<br>
                <br>
              </p>
              <div class="treatment_policy-lifestyle-q-a-closeBtn">
                <p class="mod-btn01 u-bd-c1 u-c-c1">
                  閉じる
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%# スポーツをしている方へ %>
      <section class="treatment_policy-lifestyle-sec" id="lifestyle01">
        <div class="treatment_policy-lifestyle-q">
          <div class="treatment_policy-lifestyle-q-col">
            <p class="treatment_policy-lifestyle-q-h">
              スポーツをしている方へ
            </p>
          </div>
          <div class="treatment_policy-lifestyle-q-btn" data-name="＋"></div>
        </div>
        <div class="treatment_policy-lifestyle-q-a">
          <div class="treatment_policy-lifestyle-q-a-claer">
            <div class="treatment_policy-lifestyle-q-a-cat u-bd-c1">
              方針
            </div>
            <div class="treatment_policy-lifestyle-q-a-txts">
              <p>
                ● 試合前の調整・スポーツ障害に<br>
                ケガの予防や、試合前のコンディショニング（調整）に最適です。<br>
                学生さんや、ママさんチームの方のご利用も多数あります。<br>
                <br>
              </p>
              <div class="treatment_policy-lifestyle-q-a-closeBtn">
                <p class="mod-btn01 u-bd-c1 u-c-c1">
                  閉じる
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
<input type="hidden" id="faqId" name="hidden_faqId" value=<%= @faqID %>>
<%= javascript_include_tag 'treatment_policy/treatment_policy', 'data-turbolinks-track': 'reload' %>
