<%= stylesheet_link_tag "treatment_policy/reverberation", :media => "all" %>
<%# 画面上部イメージ %>
<div class="mod-keyvisualHead align-lb u-c-wh">
  <h1 class="mod-keyvisualHead-txts">
    治りたい、身体のチカラをサポートします。
  </h1>
</div>
<%# パンくずリスト %>
<nav class="mod-breadcrumb">
  <ol class="mod-breadcrumb-links lapctbOnly">
    <li><%= link_to "まり鍼灸院", root_path, data: {"turbolinks" => false} %></li>
    <li><%= link_to "治療方針", treatment_policy_path, data: {"turbolinks" => false} %></li>
    <li>痛い鍼はヘタなのか</li>
  </ol>
</nav>
<%# メインコンテンツ %>
<div class="mod-mainContent">
  <div class="treatment_policy-reverberation wrapin wrapin-sp">
    <h2 class="treatment_policy-reverberation-h">
      <span class="ja">
        響き（痛み）についてのよくある誤解
      </span>
    </h2>
    <div class="treatment_policy-reverberation-content">
      <div class="treatment_policy-reverberation-space"></div>
      <div class="treatment_policy-reverberation-img-right">
        <%= image_tag 'treatment_policy/treatment_policy_reverberation_01.jpg' %>
      </div>
      <div class="treatment_policy-reverberation-space2"></div>
      <div class="treatment_policy-reverberation-img-left">
        <%= image_tag 'treatment_policy/treatment_policy_reverberation_02.jpg' %>
      </div>
      <p class="treatment_policy-reverberation-content-txt">
        鍼治療で、痛い鍼はヘタで痛くない鍼が上手なのだ！という噂があります。<br>
        実はこれ、<span class="u-c-c1">半分正解で半分は見当違い</span>なのです。<br>
        <br>
        当治療院の針はズーンという響きのある治療を行います。患者様によってはこの響きを「痛い」と表現されます。<br>
        <br>
        鍼を打つ時には、当然ながら最初に刺さるのは皮膚です。<br>
        技量が未熟だと、この皮膚を突破するときに「チクッ」という痛みが生じます。<br>
        これを切皮痛（せっぴつう）といって、こういう
        <span class="u-c-c1">「痛み」を随所に感じる場合残念ながらヘタな鍼灸師</span>なので、早急に治療院を変えたほうがいいです。<br>
        <br>
        ところが、切皮痛はないけれども<br>
        <span class="u-c-c1">刺した後で、ズシンと響く「痛み」</span>があります。<br>
        これは逆にどれだけきちんと響きを出せるか？ということが重要なので<br>
        当院のような深い鍼灸治療を行う場合は、この「痛み」がないとヘタということになります。<br>
        <br>
        つまり「痛い鍼はヘタで痛くない鍼が上手なのだ！」という理屈は<span class="u-c-c1">認識の違い</span>ということなのです。<br>
        <br>
        これを混同してしまうと<br>
        <br>
        患者さんが、友人に当医院の治療で改善したことを話したときに<br>
        「痛い鍼はヘタなんだから、行くのをやめたほうがいい」と言われたり<br>
        <br>
        別の鍼灸院で<br>
        「痛い鍼はヘタなんですよ、うちは痛くないでしょう？」
        というような話を聞かされた、など不安になることがあります。<br>
        <br>
        前者は、切皮痛と響きを混同している「うわさ」ですし<br>
        <br>
        後者は、おそらく深く刺さない鍼治療を行っているのでしょう。<br>
        （その治療院が「痛くない鍼」できちんと治せているのでしたら当院のような「響く鍼」の治療にわざわざ通うことはないと思いますが・・・）<br>
        <br>
        <span class="u-c-c1">切皮痛と、響きをきちんと区別</span>できれば、それは話半分ということが理解できたのではないでしょうか？<br>
        理解できれば、そのような噂を気にすることはありません。<br>
        <br>
        当院ではきちんと痛みと響きを分けて認識していますし
        患者さんも、実際に<span class="u-c-c1">「痛み」と「響き」の違い</span>をキチンと体感して通院いただいています。
      </p>
    </div>
  </div>
</div>
